body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #06263d;
    color: white;
  }
  
  header, footer {
    background: #0a4065;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 1rem;
    list-style: none;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 1rem;
  }
  